body {
  margin: 0px auto;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-login,
.btn-more {
  border-radius: 0; /* Remove border radius */
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.logo {
  font-weight: 700;
  font-size: 2rem;
}

.btn-login {
  background: black;
  color: white;
}
.btn-more {
  border: 2px solid black;
}
