body {
  margin: 0px auto;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing-page {
  height: 100vh;
  overflow: hidden;
}
/* .banner-section {
  margin: 3rem 0;
} */
.logo {
  font-weight: 700;
  font-size: 2rem;
}

.btn-login {
  background: black;
  color: white;
}
.btn-more {
  border: 2px solid black;
}
